* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

/* Header and nevigation style */
.header {
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
    background-color: #FFF8F3;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.nav-title-character {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

/* banner part style */
.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

.contact-btn {
    font-weight: 700px;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

.banner-part {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.banner-img img {
    width: 584px;
    margin-left: 250px;
}

/* main section */

main,
.connect {
    max-width: 1140px;
    margin: 0 auto;
}

/* about-me section style */
.about-me {
    margin-top: 130px;
    margin-bottom: 150px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.about-description,
.what-i-do-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.about-parsonal-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}

.about-parsonal-info p {
    color: #757575;
}

/* what i do style */
.what-i-do-skill {
    display: flex;
    margin-top: 50px;
    margin-bottom: 160px;
    gap: 25px;
}

.what-i-do-skill-info {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.what-i-do-skill-info-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.what-i-do-skill-info-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/* my resume section style */
.all-resume-info {
    margin-top: 110px;
    display: flex;
    gap: 70px;
}

.education-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.education-sub-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.education-date {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.education-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

/* cv button style */
.download-cv-btn {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

/* footer section style */
footer {
    background-color: #FFF8F3;
    margin-top: 110px;
}

.connect {
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
}

.connect-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.connect-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}

.connect a {
    margin-right: 24px;
}

.login-form {
    margin-left: 100px;
}

.form-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
}

.login-form input,
textarea {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.footer-copy-text {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width:576px) {

    nav,
    nav ul,
    .banner-part {
        flex-direction: column;
        gap: 20px;
    }

    .header {
        background: none;
    }

    /* banner part */

    .banner-part {
        flex-direction: column-reverse;
        margin: 10px;
    }

    nav {
        padding: 30px 0 40px 0;
    }

    .banner-sub-title {
        font-size: 40px;
    }

    .banner-title {
        font-size: 67px;
    }

    .banner-description {
        text-align: center;
    }

    .contact-btn {
        margin-left: 0;
    }

    .banner-img img {
        width: 100%;
        margin-left: 0;
    }

    .banner-part-button {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-part-button .btn-primary {
        margin: 5px 10px;
    }

    .banner-part-button .contact-btn {
        margin: 5px 50px;
    }

    /*About me part  */
    .about-me {
        padding: 50px 0;
        margin-top: 90px 0 100px 0;
    }

    .about-parsonal-info {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /*what-i-do-section */
    .what-i-do-section {
        padding: 10px;
    }

    .what-i-do-skill {
        flex-direction: column;
        margin-bottom: 55px;
    }

    .what-i-do-skill-info {
        text-align: center;
        margin: 0 10px;
    }

    /* resume section */

    .all-resume-info,
    .connect {
        flex-direction: column;
        padding: 10px;
    }

    .all-resume-info {
        margin-top: 40px;
        text-align: center;
    }

    /* footer */
    .connect {
        padding-top: 50px;
    }

    footer {
        margin-top: 0;
    }

    .footer-info {
        text-align: center;
    }

    .login-form {
        margin: 60px 0 0 0;
    }

    .footer-copy-text {
        margin-top: 30px;
    }

    .login-form input,
    textarea {
        width: 95%;
    }
}